<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>文章管理</title>
		<link rel="stylesheet" href="__STATIC__/css/base.css">
		<link rel="stylesheet" href="__STATIC__/css/b-content-manage.css">
	</head>
	<body>
		<!-- 内容状态 -->
		<nav class="content-status">
			<ul class="content-status-list clearfix">
				<li class="content-status-item">
					<a href="#" class="active">待审核</a>
				</li>
				<li class="content-status-item">
					<a href="#">未通过</a>
				</li>
			</ul>
		</nav>
		<!-- 文章列表 -->
		<div class="article-list-wrapper">
			<ul class="article-list">
				<li class="article-list-item">
					<!-- 文章信息 -->
					<div class="article-info">
						<!-- 缩略图 -->
						<img src="__STATIC__/img/缩略图.png" class="thumbnail">
						<div class="title-time-wrapper">
							<!-- 文章标题 -->
							<h2 class="article-title">你不知道零食中的危害</h2>
							<!-- 发布时间 -->
							<div class="publish-time">2018-5-6&nbsp;&nbsp;&nbsp;10:00</div>
						</div>
					</div>
					<!-- 操作 -->
					<div class="article-operate">
						<button class="modify">通过</button>
						<button class="modify">不通过</button>
					</div>
				</li>
			</ul>
		</div>
		<!-- 分页 -->
		<!-- <div class="pagination-wrapper">
			<ul class="pagination clearfix">
				<li class="page-first"><a href="#">首页</a></li>
				<li class="page-pre"><a href="#">上一页</a></li>
				<li class="page-number"><a href="#">1</a></li>
				<li class="page-number"><a href="#">2</a></li>
				<li class="page-number"><a href="#">3</a></li>
				<li class="page-separator"><a href="#">...</a></li>
				<li class="page-number"><a href="#">9</a></li>
				<li class="page-number"><a href="#">10</a></li>
				<li class="page-next"><a href="#">下一页</a></li>
				<li class="page-last"><a href="#">尾页</a></li>
			</ul>
		</div> -->
	</body>
</html>
