<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="__STATIC__/css/base.css">
		<link rel="stylesheet" href="__STATIC__/css/b-main.css">
	</head>
	<body>
		<!-- 公告 -->
		<div class="announcement">
			公告：<span></span>
		</div>
		<!-- 商家信息 -->
		<div class="business-info-wrapper">
			<ul class="business-info-list">
				<li class="business-info-item fans">
					<span>{$userNum}</span>
					<span>用户数</span>
				</li>
				<li class="business-info-item read">
					<span>{$activeNum}</span>
					<span>活跃数</span>
				</li>
				<li class="business-info-item like">
					<span>{$merchantNum}</span>
					<span>商家数</span>
				</li>
				<li class="business-info-item like">
					<span>{$vipNum}</span>
					<span>会员数</span>
				</li>
			</ul>
		</div>
	</body>
</html>